.custom-block.tip {
    --hint-border-color: #009400;
    --hint-background-color: #e6ffe6;
    --hint-text-color: #003100;
  }
  
  .custom-block.info {
    --hint-border-color: #4cb3d4;
    --hint-background-color: #eef9fd;
    --hint-text-color: #193c47;
  }
  
  .custom-block.danger {
    --hint-border-color: #e13238;
    --hint-background-color: #ffebec;
    --hint-text-color: #4b1113;
  }
  
  .custom-block.note {
    --hint-border-color: #d4d5d8;
    --hint-background-color: #fdfdfe;
    --hint-text-color: #474748;
  }
  
  .custom-block.warning {
    --hint-border-color: #e6a700;
    --hint-background-color: #fff8e6;
    --hint-text-color: #4d3800;
  }
  
  .custom-block {
    font-family: "Ubuntu", "演示秋鸿楷", sans-serif;
    position: relative;
    padding: 0.25rem 1rem;
    background-color: var(--hint-background-color);
    border-left: 0.3rem solid;
    border-color: var(--hint-border-color);
    border-radius: 0.5rem;
    margin-bottom: 1em;
  }
  
  .custom-block-title {
    font-family: "Ubuntu", "演示秋鸿楷", sans-serif;
    font-weight: 600;
    position: relative;
    padding-left: 1.5rem;
    line-height: 1.25;
    color: var(--hint-text-color);
    /* user-select: none; */
  }
  
  .custom-block-title::before {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    background-position: 0;
    background-repeat: no-repeat;
  }
  
  .custom-block.tip .custom-block-title::before {
    background-image: url(https://lastknightcoder.github.io/vuepress-blog/assets/img/tip.a9004be5.svg)
  }
  
  .custom-block.info .custom-block-title::before {
    background-image: url(https://lastknightcoder.github.io/vuepress-blog/assets/img/info.6f2cfedb.svg);
  }
  
  .custom-block.danger .custom-block-title::before {
    background-image: url(https://lastknightcoder.github.io/vuepress-blog/assets/img/danger.1c7d8a0f.svg);
  }
  
  .custom-block.note .custom-block-title::before {
    background-image: url(https://lastknightcoder.github.io/vuepress-blog/assets/img/note.32319b2e.svg);
  }
  
  .custom-block.warning .custom-block-title::before {
    background-image: url(https://lastknightcoder.github.io/vuepress-blog/assets/img/warning.57a43d6d.svg);
  }